.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  text-align: center;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  width: 330px;
}

.item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header {
  margin-bottom: 8px;
}

.imagen {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 2em;
  color: #131212;
}

.description {
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
  color: #131212;
}

.detail {
  display: block;
  padding-bottom: 10px;
}

.button {
  background-color: #3c3fe7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.button:hover{
  background-color: #0990df;
}